/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

/* Cabeçalho */
header {
    background-color: black;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Container do Header */
.header {
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo no canto esquerdo */
.logo {
    height: 80px;
    width: 80px;
    object-fit: contain;
    margin-left: 0;
}

  
.logo:hover {
    filter: drop-shadow(0 0 5px #FFD54F);
    transform: scale(1.05);
    transition: transform 0.3s ease, filter 0.3s ease;
  }
/* Navegação */
nav {
    display: flex;
    gap: 15px;
}

/* Botões */
.botao {
    background-color: black;
    color: #D4A34C;
    border: 2px solid #D4A34C;
    font-weight: 500;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.botao:hover {
    background-color: #D4A34C;
    color: black;
    transform: scale(1.03);
}



/* Seções principais */
main {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
}

/* Rodapé */
footer {
    background-color: #20232a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
